a:hover { text-decoration:none; }
.btn
{
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}


#show-as {
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 7px;
}

#map_canvas {
	max-height:500px;
	height:440px;
}

#showas-section {
    padding: 10px;
    padding-bottom: 0px;
}

body{
    background: #222222;
    background-image: url(../img/slider/slide0.jpg);
}

.post { border-bottom:1px solid #DDD;}
.post-title {color:#662D91; padding-bottom: 5px;  border-bottom:1px solid #DDD;}
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;padding:5px 0px 5px 10px;font-size: 12px; }
.post-content { padding-bottom: 10px;padding-top: 10px; }
.post .content-txt p {font-size: 12px;}
.post:hover {background-color: white; border-radius: 5px;}
.post-miniature {padding-top: 10px;}

.jumbotron-search{
   /* background-color: white;*/
    padding: 10px;
    /*border-radius: 5px;*/
    padding-bottom: 15px;
    border-bottom:1px solid #DDD;
}

#custom-search-input{
    padding: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    max-height: 30px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    max-height: 28px;
    font-size: 20px;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
}