body{
    background: #222222;
    background-image: url(../img/slider/slide1.jpg);
}


.faq-title {
    color: white;
    background-color: darkgray;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    text-align: center;
}

.faq-text {
    margin-top: 10px;
}

.warning{
    color: gray;
}

.list-group-item .active-l {
    background-color: aqua;
}

/* Notifications */

#notifications ul li {
   padding: 5px;
    display: block;
    border-bottom:1px solid #DDD;
    color: black;
}

#notifications ul li:hover {
   background-color: #DDD;
    text-decoration: none;
    color: black;
}

#notifications ul li p span {
    padding: 0px;
    text-decoration: none;
}

#notifications ul li a {
    padding: 0px;
    color:inherit;
}

#notifications ul li a:hover {
    text-decoration: none;
    background-color: #DDD;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 20px 0px 20px;
}

.jumbo{
    padding: 0px 0px 0px 0px;
    max-width: 80%;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
    top:30%;
}
.carousel-control.right {
	right: -12px;
    top: 30%;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.carousel.item .jumbotron{
    height: 200px;
    text-align: center;
}

.carousel .item .row {
    display: block;
}

.carousel .item .row .span{
    display: inline-block;
}

.btn {
    background-color: #66ccdb;
    color: white;
}