body{
    background: #222222;
    background-image: url(../img/slider/slide1.jpg);
}

#bigone{
   background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

/* Notifications */

#notifications ul li {
   padding: 5px;
    display: block;
    border-bottom:1px solid #DDD;
    color: black;
}

#notifications ul li:hover {
   background-color: #DDD;
    text-decoration: none;
    color: black;
}

#notifications ul li p span {
    padding: 0px;
    text-decoration: none;
}

#notifications ul li a {
    padding: 0px;
    color:inherit;
}

#notifications ul li a:hover {
    text-decoration: none;
    background-color: #DDD;
}

.btn {
    background-color: #66ccdb;
    color: white;
}

.j-search {
    padding-bottom: 0px;
}

#search-section {
    padding: 0px;
}

.workers-section{
    padding-bottom: 10px;
}

.workers-section:hover {
    filter:brightness(105%);
}

.section-title {
    text-align: center;
    border-bottom:1px solid #DDD;
}

.worker-section {
    background-color: white;
    border-bottom:1px solid #DDD;
    border-top:1px solid #DDD;
    padding: 5px 10px 0px 5px;
}

.worker-name {
    text-align: center;
}

.remove-worker {
    background-color: red;
}

.remove-worker span {
    color: white;
}
.remove-worker:hover, .remove-worker:active {
   filter:brightness(105%);
}

.edit-worker-info {
    background-color: gray;
}

.edit-worker-info span {
    color: white;
}

#worker-stats {
    text-align: center;
    background-color: ghostwhite;
    border-bottom:1px solid #DDD;
}

/*EDIT WORKER*/

#row-edit-password {
    padding-top: 30px;
}

/*ADD WORKER*/

.adding-worker {
   padding-top: 10px; 
}

.add-w-l {
    background-color: gray;
    color: lightgray;
    align-content: center;
    border:1px solid #DDD;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding: 5px;
}

.add-w-t {
    background-color: white;
    border:1px solid #DDD;
    border-left: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px;
    height: 30px;
}

.cancel-btn {
    background-color: gainsboro;
    border-color: darkgray;
    color: white;
}

.cancel-btn:hover {
    background-color: gainsboro;
    border-color: darkgray;
    color: white;
    opacity: 0.5;
}

/*REMOVE WORKER*/

.remove-modal-row {
    align-content: center;
    text-align: center;
}

#remove-s {
    margin-left: 30%;
}

#row-remove{
    padding-top: 30px;
}

#not-found {
    text-align: center;
}

#managing-info {
    text-align: center;
}