body{
    background: #222222;
    background-image: url(../img/slider/slide0.jpg);
}

#colabor-stats {
    box-shadow: 10px
    align-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #f7f7f7;
    border-radius: 5px 5px 5px 5px;

}

.stat-title-row {
    width: 370px;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 0px;
    padding: 10px;
    margin-top: 0px;
    align-content: center;
    text-align: center;
}

.stat-row {
    width: 369px;
    margin-left: 0px;
    align-content: center;
    text-align: center;
    border-top:1px solid #DDD;
    padding: 10px;
    background-color: white;
}

/* Comments */

.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.post-title {
    color: white;
    background-color: darkgray;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 5px;
}

.post-info {
    background-color: white;
    padding: 5px;
    padding-bottom: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.post-info p {
        font-size: 100%;
}

.post-title p {
        font-size: 100%;
}

#mapView {
	max-height:250px;
	height:220px;
}

#map_canvas {
	max-height:250px;
	height:220px;
}


.post-description{
    padding: 10px;
    border-bottom:1px solid #DDD;
}
.post-description p{
   font-size:100%;
}
.post-image {
    padding: 15px;
    border-bottom:1px solid #DDD;
}

#img-rep:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal-image{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-image-content {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 500px;
}

/* Add Animation - Zoom in the Modal */
.modal-image-content { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-image {
    position: absolute;
    top: 10%;
    right: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-image:hover,
.close-image:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 500px){
    .modal-image-content {
        width: 100%;
    }
}