.j-search {
    padding-bottom: 0px;
}

canvas {
    height: 400px;
    width: 500px;
}

body{
    background: #222222;
    background-image: url(../img/slider/slide1.jpg);
}

#bigone{
   background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

/* Notifications */

#notifications ul li {
   padding: 5px;
    display: block;
    border-bottom:1px solid #DDD;
    color: black;
}

#notifications ul li:hover {
   background-color: #DDD;
    text-decoration: none;
    color: black;
}

#notifications ul li p span {
    padding: 0px;
    text-decoration: none;
}

#notifications ul li a {
    padding: 0px;
    color:inherit;
}

#notifications ul li a:hover {
    text-decoration: none;
    background-color: #DDD;
}

.btn {
    background-color: #66ccdb;
    color: white;
}

.stat-row{
    text-align: center;
    align-content: center;
    padding-bottom: 0px;
    border-bottom:1px solid #DDD;
    padding-top: 10px;
}

.stat-row span {
    font-size: 30px;
    padding: 0px;
}

#chart-row {
    align-content: center;
    text-align: center;
}

#chart-title {
    align-content: center;
    text-align: center;
}