/*
*GENERAL STYLE
*/
body {
	font-family: 'Helvetica';
	font-size: auto;
}

/**BUTTON**/
.video-link {
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.video-link a:hover,
.video-link a:focus {
    outline: 0;
}
 
a .video-link-text {
    color: #fff;
    opacity: 0.8;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
 
a:hover .video-link-text, 
a:focus .video-link-text {
    outline: 0;
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted #fff;
}
 
a .video-link-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #66ccdb;
    color: #fff;
    line-height: 50px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    box-shadow: 2px 3px 3px #071a1b;
}
/*a .video-link-icon:after {
    position: absolute;
    content: "";
    top: -6px;
    left: -6px;
    width: 66px;
    height: 66px;
    background: #444;
    background: rgba(0, 0, 0, 0.1);
    z-index: -99;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}*/
 
a:hover .video-link-icon,
a:focus .video-link-icon {
    outline: 0;
    background: #fff;
    color: #66ccdb;
}

.noresize {
	resize: none;
}

/* ABOUT US */
#about {
	align-content: center;
	padding: 50px 10px 50px 10px;
}

#about-us {
	padding-bottom: 10px;
	text-align: center;
	color: white;
}

#paginationNotification .page-item .page-link {
	color: black;
}

#team-avatars {
	
}

.thumbnail .thumbnail-stats {
	padding: 10px;
	visibility: hidden;
	width: 160px;
	height: 100px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(100, 100, 100, 0.6);
	color: white;
	text-align: center;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 20%;
	left: 10.4%;
}

.thumbnail:hover .thumbnail-stats {
	visibility: visible;
}

#about-team p, #about-team h3 {
	padding-top: 10px;
	color: white;
}

#about-team {
	text-align: center;
}

.team-avatar {
	border: 3px;
	border-radius: 50%;
	opacity: 0.8;
	border-color: white;
	border-style: solid;
}

.team-avatar:hover {
	opacity: 1;
}

.t-av {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.slogan {
	font-family: 'Contrail One';
	font-size: 100%;
	font-size-adjust: auto;
}

.icon:hover {
	filter: brightness(110%);
}

/* NAVBAR */
.notification-badge {
	background: red;
	position: relative;
	top: 25px;
	left: 20px;
}

#notifications {
	top: -15px;
}

.navbar {
	/*box-shadow: 0 0 10px;*/
	border: 0px;
	max-height: 110px;
	height: 70px;
	background: none;
	padding-top: 10px;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

.navbar.scrolled {
	/*background: rgb(68, 68, 68); /*IE
    background: rgba(0, 0, 0, 0.78); /*NON-IE*/
	/*background-color: #081B1D;*/
	background-color: #071a1b;
	color: black;
}

.navbar.scrolled .nav li a {
	color: white;
}

.navbar.scrolled .nav li a:hover {
	opacity: 0.8;
}

.navbar.scrolled .nav li p {
	color: black;
}

.navbar.scrolled .nav #registar {
	color: white;
	background-color: #66ccdb;
	border-style: solid;
	border-width: 2px;
	border-color: #66ccdb;
}

.navbar.scrolled .nav #registar:hover {
	opacity: 0.8;
}

.navbar .nav li {
	text-align: center;
}

/*
.navbar .nav li:hover{
    border-bottom-style:solid;
    border-width: 2px;
    border-color: white;
}*/
.navbar .nav li a {
	color: white;
}

.navbar .nav li .page-link {
	color: #66ccdb;
}

.navbar .nav li a p {
	color: black;
}

.navbar .nav li a:hover {
	color: #66ccdb;
}

.navbar-brand {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#registar {
	margin-top: 10px;
	background: none;
	color: ghostwhite;
	border-style: solid;
	border-width: 2px;
	border-color: #66ccdb;
}

#registar:hover {
	opacity: 1.0;
	background-color: #66ccdb;
}

/* SLIDER */
.carousel-inner .item {
	padding-top: 0;
	width: 100%;
	max-height: 750px !important;
}

.carousel-caption {
	margin-bottom: 15%;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.carousel-control.left span, .carousel-control.right span {
	height: 40px;
	width: 40px;
	border-radius: 25px;
	border: 2px solid white;
}

.carousel-control.left span:hover, .carousel-control.right span:hover {
	background-color: rgba(100, 100, 100, 0.3);
}

.app-content {
	background-color: whitesmoke;
	padding-top: 20px;
	padding-bottom: 20px;
}

.row2 {
	/* background-color: #e7e7e7;*/
	background-color: none;
	padding: 0px;
	margin: 0px;
}

.cities-stats {
	/*background-color: #e7e7e7;*/
	background-color: #071a1b;
	padding-top: 50px;
	padding-bottom: 50px;
}

.stats-content {
	padding-top: 20px;
	padding-bottom: 20px;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.3);
}

.twitter-content {
	/*background-color: whitesmoke;*/
	margin-top: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.submit-report-form .container {
	padding-top: 90px;
}

.submit-report-form .jumbotron {
	padding-top: 10px;
}

/* CITIES*/
.cities-content {
	/* background-color: whitesmoke;*/
	color: whitesmoke;
	background: none;
	padding: 20px;
	text-align: center;
}

#citiesCarousel {
	margin-bottom: 0;
	padding: 0 20px 0px 20px;
	text-align: center;
}

#citiesCarousel .carousel-inner .item .row {
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 190px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
}

#citiesCarousel .carousel-indicators {
	margin-bottom: 0px;
	color: #66ccdb;
}

#citiesCarousel .carousel-control.left, #citiesCarousel .carousel-control.right
	{
	background-image: none !important;
	filter: none !important;
}

#citiesCarousel .carousel-control {
	top: 25%;
	color: whitesmoke;
	font-size: 250%;
}

#citiesCarousel .carousel-control.right {
	top: 25%;
	color: whitesmoke;
	font-size: 250%;
}

/* Changes the position of the indicators */
#citiesCarousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
#citiesCarousel .carousel-indicators li {
	background: #c0c0c0;
}

#citiesCarousel .carousel-indicators .active {
	background: #333333;
}

#citiesCarousel .item .row .thumbnail {
	margin-bottom: 0px;
}

#citiesCarousel .item .row .thumbnail img {
	width: 180px;
	height: 100px;
}

#citiesCarousel .item .row p {
	padding: 0px;
	margin: 0px;
	font-size: 100%;
}

#register-community {
	margin-top: 10px;
	background-color: #66ccdb;
	color: white;
}

#register-community:hover {
	opacity: 1.0;
}

/*STATS*/
.stat {
	padding: 10px;
	text-align: center;
	color: white;
	background-image: url(../img/slider/slide0.jpg);
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0.3);
}

.count {
	font-size: 30px;
}

/* FOOTER */
.footer {
	background: whitesmoke; /*#eeeeee;*/
	color: #222222;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.footer-media:hover {
	-webkit-filter: contrast(160%);
	filter: contrast(160%);
	max-height: 75;
	max-width: 75;
}

.footer li {
	list-style: none;
	text-decoration: none;
	color: #999b9d;
}

.footer li a {
	text-decoration: none;
	color: #999b9d;
}

.footer li a:hover {
	color: #222222;
}