body{
    background: #222222;
    background-image: url(../img/slider/slide0.jpg);
}

.sugestions {
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}

.thumbnail:hover{
    filter: brightness(110%);
}

#sugestions-text {
    padding-bottom: 10px;
}

.thumbnail .thumbnail-titl {
    text-align: center;
    font-size: 80%;
    padding: 10px;
    visibility: hidden;
    width: 75px;
    height: 75px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(100, 100, 100, 0.6);
    color: white;
    text-align: center;
   
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 23%;
    left:18.0%;
    
}

.thumbnail:hover .thumbnail-titl {
    visibility: visible;
}

.thumbnail img {
    width: 75px;
    height: 75px;
}